<div class="row">
  <aside class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%= link_to "@#{@user.name}", user_path %></h3>
      </div>
      <div class="card-body">
          <img class="rounded-circle img-fluid" src= "<%=@user.profile_picture.thumb.url if @user.profile_picture? %>" alt="">
          <div align="center">
          <p>
            Total: <%= "30" %> Dives</br>
            Following: <%= "30" %></br>
            Followers: <%= "30" %> </br>
          </p>
          </div>
          <% if correct_user? %>
            <div align="right">
              <%= link_to 'Edit Profile', edit_user_path, class: 'btn btn-primary' %>
            </div>
          <% else %>
          <% end %>
      </div>
    </div>
  </aside>
  <div class="col-sm-8">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="#" class="nav-link">My Log</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Followings</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Followers</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Likes</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Map</a></li>
    </ul>
  </div>
</div>