<div class="row">
  <aside class="col-sm-3">
    <div class="card">
      <div class="card-header">
        <img class="rounded-circle img-fluid mb-2" src= "<%=@user.profile_picture.thumb.url if @user.profile_picture? %>" alt="">
        <h6 class="card-title" align="center">@<%= @user.name %></h6>
        <% if correct_user? %>
          <div align="center">
            <%= link_to 'Edit Profile', edit_user_path, class: 'btn btn-outline-secondary btn-sm' %>
          </div>
        <% else %>
          <div align="center">
            <%= link_to 'Follow', root_path , class: 'btn btn-primary btn-sm'%>
            <%= link_to 'Unfollow', root_path , class: 'btn btn-outline-primary btn-sm'%>
          </div>
        <% end %>        
      </div>
      
      <div class="card-body">
          <div class="mt-2" align="center">
            <p>
            Total: <%= "30" %> Dives</br>
            Following: <%= "30" %></br>
            Followers: <%= "30" %> </br>
            </p>
          </div>
      </div>
      
    </div>
  </aside>
  <div class="col-sm-9">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="<%= user_path(@user.id) %>" class="nav-link">Log</a></li>
      <% if correct_user? %>
        <li class="nav-item"><a href="<%= newlog_user_path(@user.id) %>" class="nav-link">New Log</a></li>
      <% end %>
      <li class="nav-item"><a href="#" class="nav-link">Followings</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Followers</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Likes</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Map</a></li>
    </ul>
    <%= render 'logs/logs_overview', logs: @logs %>
  </div>
</div>