
<ul class="list-unstyled">
  <% logs.each do |log| %>
    <li class="media mb-3">
        <div class="media-left media-middle mr-3">
          <div>
          <a href="<%= user_path(log.user) %>">
            <img class="rounded-circle media-object" src= "<%= log.user.profile_picture.mini_thumb.url if log.user.profile_picture? %>" alt="">
          </a>
          </div>
          <div style="text-align:center">
            <a href="<%= user_path(log.user) %>">@<%= log.user.name %></a>
          </div>
        </div>  
        
        <div class="media-body">
          <img class="image-fluid" src="<%= log.image1.thumb.url if log.image1? %>">
          <img class="image-fluid" src="<%= log.image2.thumb.url if log.image2? %>">
          
          <div class="container">
            <div class="row">
            <% unless log.comment.empty? %>
            <% comment = log.comment[0..100] %>
            <p><%= comment %></p>
          <% end %>
        <%= link_to 'show more', log_path(log) %>  
            </div>
          </div>
          
        </div><!-- media-body -->
        

        
    </li>
  <% end %>
  
  <%= paginate logs %>
</ul>