<!DOCTYPE html>
<html  lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dive Log</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/application.css">

    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <!--jquery追加  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>
    
    <!--  google mapのload  -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXyNa-DbB7Qo2Bj95y1cytsZAp47UXQ50"></script>
    <!--AIzaSyCXyNa-DbB7Qo2Bj95y1cytsZAp47UXQ50-->
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class="container" style="padding-top: 40px;">
      <%= render 'layouts/flash_messages' %>
      <!--<div id="map" style="width: 100%; height: 500px;"></div>-->
      <%= yield %>
    </div>
  </body>

</html>